# Секреты (НИКОГДА НЕ УБИРАЙ ОТСЮДА .ENV)
.env
google_credentials.json

# Виртуальное окружение (оно весит гигабайты, его не грузят)
venv/
.venv/

# База данных (локальная)
database.db

# Временные файлы Python
__pycache__/
*.pyc

# Логи и временные папки
filestorage/
logs/
google_credentials.json
